<app-hero></app-hero>

<div class="container mt-4">
  <h1 class="text-center">Top places to visit</h1>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mt-4 d-flex justify-content-center">

    <div class="col m-2" style="width: 24rem;">
      <div class="card">
        <img class="card-img-top travel-image" src="https://cdn.getyourguide.com/img/location/5ffeb392eb81e.jpeg/68.jpg" alt="Card image cap">
        <div class="card-body text-center">
          <h5 class="card-title">Hotel + Flight Paris</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <h4 class="card-text">€380</h4>
          <a href="#" class="btn btn-primary mt-2">Book now</a>
        </div>
      </div>
    </div>

    <div class="col m-2" style="width: 24rem;">
      <div class="card">
        <img class="card-img-top travel-image" src="https://www.travelbook.de/data/uploads/2017/11/gettyimages-561223621_1511435512.jpg" alt="Card image cap">
        <div class="card-body text-center">
          <h5 class="card-title">Hotel + Flight London</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <h4 class="card-text">€350</h4>
          <a href="#" class="btn btn-primary mt-2">Book now</a>
        </div>
      </div>
    </div>

    <div class="col m-2" style="width: 24rem;">
      <div class="card">
        <img class="card-img-top travel-image" src="https://www.fodors.com/assets/destinations/54492/colosseum-ancient-rome-rome-italy-europe_980x650.jpg" alt="Card image cap">
        <div class="card-body text-center">
          <h5 class="card-title">Hotel + Flight Rome</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <h4 class="card-text">€380</h4>
          <a href="#" class="btn btn-primary mt-2">Book now</a>
        </div>
      </div>
    </div>

    <div class="col m-2" style="width: 24rem;">
      <div class="card">
        <img class="card-img-top travel-image" src="https://a.cdn-hotels.com/gdcs/production166/d427/b65225f3-0135-4c38-bee6-ddcb1e92f7eb.jpg" alt="Card image cap">
        <div class="card-body text-center">
          <h5 class="card-title">Hotel + Flight Amsterdam</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <h4 class="card-text">€300</h4>
          <a href="#" class="btn btn-primary mt-2">Book now</a>
        </div>
      </div>
    </div>

    <div class="col m-2" style="width: 24rem;">
      <div class="card">
        <img class="card-img-top travel-image" src="https://www.telegraph.co.uk/content/dam/Travel/Destinations/Europe/Austria/Vienna/st-stephen-s-cathedral-vienna-p.jpg?imwidth=680" alt="Card image cap">
        <div class="card-body text-center">
          <h5 class="card-title">Hotel + Flight Vienna</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <h4 class="card-text">€320</h4>
          <a href="#" class="btn btn-primary mt-2">Book now</a>
        </div>
      </div>
    </div>

    <div class="col m-2" style="width: 24rem;">
      <div class="card">
        <img class="card-img-top travel-image" src="https://www.visitberlin.de/system/files/image/og_image.jpg" alt="Card image cap">
        <div class="card-body text-center">
          <h5 class="card-title">Hotel + Flight Berlin</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <h4 class="card-text">€320</h4>
          <a href="#" class="btn btn-primary mt-2">Book now</a>
        </div>
      </div>
    </div>

    <div class="col m-2" style="width: 24rem;">
      <div class="card">
        <img class="card-img-top travel-image" src="https://franks-travelbox.com/wp-content/uploads/2020/07/tucc88rkei-istanbul-der-galataturm-wurde-einst-von-den-genuesen-als-teil-ihrer-stadtbefestigung-errichtet-und-ist-einer-der-schocc88nsten-aussichtspunkte-ucc88ber-istanbul-tucc88rkei-a.jpg" alt="Card image cap">
        <div class="card-body text-center">
          <h5 class="card-title">Hotel + Flight Istanbul</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <h4 class="card-text">€360</h4>
          <a href="#" class="btn btn-primary mt-2">Book now</a>
        </div>
      </div>
    </div>

    <div class="col m-2" style="width: 24rem;">
      <div class="card">
        <img class="card-img-top travel-image" src="https://res.klook.com/image/upload/Mobile/City/xxm5eghz6vaayblixclj.jpg" alt="Card image cap">
        <div class="card-body text-center">
          <h5 class="card-title">Hotel + Flight Munich</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <h4 class="card-text">€330</h4>
          <a href="#" class="btn btn-primary mt-2">Book now</a>
        </div>
      </div>
    </div>

    <div class="col m-2" style="width: 24rem;">
      <div class="card">
        <img class="card-img-top travel-image" src="https://assets.vogue.com/photos/5891366e4fe1526113020954/master/pass/00-holding-zurich-travel-guide.jpg" alt="Card image cap">
        <div class="card-body text-center">
          <h5 class="card-title">Hotel + Flight Zurich</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <h4 class="card-text">€350</h4>
          <a href="#" class="btn btn-primary mt-2">Book now</a>
        </div>
      </div>
    </div>

  </div>
</div>
